.navbarCustomStyle {
  background: none;
  border: none
}
.pex {
  color: #ff3983;
  font-size: 2rem;
}
.afterPex {
  color: white;
  font-size: 1rem;
}
.navbar-default .navbar-nav > li > a  {
  color: white
}
.navbar-default .navbar-nav > .active > a  {
  background: none;
  border-bottom: solid 1px white;
  color: lightgoldenrodyellow;
}
.CustomSearchForm{
  border-radius: 6em
}