.title-layer1 {
  float: right;
  color: white;
  font-size: 2rem;
  clear: both;
}
.button-layer1 {
  float: right;
  clear: both;
}
.show-grid h2:first-child {
  margin-top: 60%;
  margin-bottom: 0;
}
.show-grid h2:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid p {
  float: right;
  color: white;
  font-size: 0.9rem;
  clear: both;
  margin-top: 5px;
}