
@media screen and (max-width: 768px) {
  .violetInMountains {
    margin-top: 68%;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .violetInMountains {
    margin-top: 46%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .violetInMountains {
    margin-top: 36%;
  }
}

@media screen and (min-width: 1201px) {
  .violetInMountains {
    margin-top: 27%;
  }
}